body {
    background-color: cyan;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 64px;
    text-align: center;
}

p {
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    display: flex;
}

.catergories {
    font-weight: bold;
    padding: 5px;
}

.info {
    background-color: darkgray;
    border-style: solid;
    padding: 5px 5px;
}

img {
    max-width: 25%;
    height: auto;
    float: right;
    margin-right: 30px;
    border: 10px solid black;
}

#return-link {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 48px;
    padding: 10px 15px;
    background-color: green;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}